@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SQLBackdoor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/addon/hint/show-hint.min.css" integrity="sha512-OmcLQEy8iGiD7PSm85s06dnR7G7C9C0VqahIPAj/KHk5RpOCmnC6R2ob1oK4/uwYhWa9BF1GC6tzxsC8TIx7Jg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.18/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="/css/flash.css" />
</head>
<body class="h-100">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">SQLbackdoor</span>
        </div>
    </nav>
    <div class="container-fluid h-100">
        <div class="row no-gutters h-100">
            <div class="col-12 col-sm-4 col-lg-3 col-xxl-2 h-100">
                <div class="card p-0">
                    <div class="card-header">Conexões</div>
                    <div class="card-body">
                        <form class="" id="form">
                            <div class="form-group mb-2">
                                <select class="form-select" aria-label="Selecione" id="connections"></select>
                            </div>
                            <div class="form-group mb-2">
                                <label for="server">Connection Name</label>
                                <input type="text" class="form-control" id="name"  autocomplete="off">
                            </div>
                            <div class="form-group mb-2">
                                <label for="server">Server</label>
                                <input type="text" class="form-control" id="server" autocomplete="off">
                            </div>
                            <div class="form-group mb-2">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="dbUser"  autocomplete="off">
                            </div>
                            <div class="form-group mb-2">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="dbPass" placeholder="Password"  autocomplete="off">
                            </div>
                            <div class="form-group mb-2">
                                <label for="database">Database</label>
                                <input type="text" class="form-control" id="database"  autocomplete="off">
                            </div>
                            <div class="form-group mb-2">
                                <label for="parameters">Timeout</label>
                                <input type="text" class="form-control" id="timeout" placeholder="120"  autocomplete="off">
                            </div>
                            <div class="form-group mb-2">
                                <label for="parameters">Parameters</label>
                                <input type="text" class="form-control" id="parameters"  autocomplete="off">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-success" id="save-conn">
                            <i class="bi bi-check"></i> Salvar
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-9 col-xxl-10">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="card p-0">
                            <div class="card-header">SQL</div>
                            <textarea id="code" class=""></textarea>
                            <div class="card-footer">
                                <button id="execute" class="btn btn-primary btn-sm">
                                    <i class="bi bi-play"></i> Executar
                                </button>
                                <button id="stop" class="btn btn-danger btn-sm">
                                    <i class="bi bi-stop-fill"></i> Parar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-1" id="data-result-placement">
                        @*<div class="card p-0">
                        <div class="card-header">Resultados</div>
                        <div id="" style="max-height: 450px" class="overflow-auto">
                        </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/codemirror.min.js" integrity="sha512-n7rucz/qOiYAkYK1CVKuqygMAnohil8Rg6kKAv0IsF2xnHUhnVyD5K9GO25OUvc+WEVZVu+NIYLblIUpkBMNvQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/addon/edit/matchbrackets.min.js" integrity="sha512-GSYCbN/le5gNmfAWVEjg1tKnOH7ilK6xCLgA7c48IReoIR2g2vldxTM6kZlN6o3VtWIe6fHu/qhwxIt11J8EBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/addon/hint/show-hint.min.js" integrity="sha512-yhmeAerubMLaGAsyS7sE8Oqub6GeTkBDQpkXo2JKHgg7JOCudQvcbDQc5rPxdl7MqcDusTJzSy+ODlyzAwETfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/mode/sql/sql.min.js" integrity="sha512-u8r8NUnG9B9L2dDmsfvs9ohQ0SO/Z7MB8bkdLxV7fE0Q8bOeP7/qft1D4KyE8HhVrpH3ihSrRoDiMbYR1VQBWQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.6/addon/hint/sql-hint.min.js" integrity="sha512-O7YCIZwiyJYc9d/iPOSgEzhhlonTMGcmM1HmgYFffj5cGwVu2PLSzTaLvD9HSk8rSSf9rIpdhJPk8Yhu6wJBtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script data-pace-options='{ }' src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.18/dist/sweetalert2.all.min.js"></script>
    <script>
        var mime = 'text/x-mssql';

        var tabCharacter = "  ";
        var tabOffset = 2;

        var urlSqlExecution = '@Url.Action("Post", "SqlExecutor")'

        $(document).ready(function() {
            window.editor = CodeMirror.fromTextArea(document.getElementById('code'), {
                mode: mime,
                indentWithTabs: true,
                smartIndent: true,
                lineNumbers: true,
                matchBrackets: true,
                autofocus: true,
                extraKeys: { "Ctrl-Space": "autocomplete" },
                hintOptions: {
                    tables: {
                        users: ["name", "score", "birthDate"],
                        countries: ["name", "population", "size"]
                    }
                }
            });

            $("#data-result-placement").hide();

            Pace.stop();

            populateCombo();
            
            var lastQuery = localStorage.getItem("lastQuery");
            if (lastQuery != null) {
                window.editor.setValue(lastQuery);
            }

            $("#save-conn").on("click", function() {
                var name = $("#name").val();
                var conn = {
                    "Server": $("#server").val(),
                    "Username": $("#dbUser").val(),
                    "Password": $("#dbPass").val(),
                    "Database": $("#database").val(),
                    "Parameters": $("#parameters").val(),
                    "Timeout": $("#timeout").val() == '' ? null : $("#timeout").val()
                };
                localStorage.setItem('connection_' + name, JSON.stringify(conn));
                populateCombo();
            });

            $("#connections").on('change', function(e) {
                var conn = $(this).val();
                var connectionData = localStorage.getItem(conn);
                var connectionString = JSON.parse(connectionData);
                populateInputs(connectionString);
                $("#name").val(conn.substring(11));
            });

            var requestHandler;
            $(document).on('click', '#execute', function(e) {
                var me = window.editor;
                var fullContent = me.getValue();
                var content = me.getSelection();

                console.log(content);

                if (content == "" || content == undefined) {
                    content = fullContent
                }

                if (content == "" || content == undefined) {
                    e.preventDefault();
                    return;
                }

                var request = {
                    "Server": $("#server").val(),
                    "Username": $("#dbUser").val(),
                    "Password": $("#dbPass").val(),
                    "Database": $("#database").val(),
                    "Parameters": $("#parameters").val(),
                    "Timeout": $("#timeout").val() == '' ? null : $("#timeout").val(),
                    "Query": content
                };

                //localStorage.setItem($("#connectionName").val(), JSON.stringify(request));
                localStorage.setItem("lastConnection", JSON.stringify(request));
                localStorage.setItem("lastQuery", fullContent);

                requestHandler = $.ajax(
                    {
                        url: urlSqlExecution,
                        contentType: "application/json",
                        dataType: 'json',
                        method: 'POST',
                        data: JSON.stringify(request),
                        beforeSend: function() {
                            $("#data-result-placement").hide()
                                .html('');
                            $("#execute").attr('disabled', 'disabled');
                            $("#stop").removeAttr('disabled');
                        }
                    })
                    .done(function(data) {
                        if (data.error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: data.message
                            });
                            return;
                        }

                        populateDataTable(data);
                    })
                    .fail(function(e, x, h, t) {
                        console.log("There was an error with your request...");
                        console.log("error: " + JSON.stringify(e));

                        var text = 'Ocorreu um erro não esperado'
                        if (e.status == 0)
                            text = 'Requisição cancelada'

                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: text
                        });
                    })
                    .always(function() {
                        $("#execute").removeAttr('disabled');
                        $("#stop").attr('disabled', 'disabled');
                    })



                e.preventDefault();
            });

            $("#stop").attr('disabled', 'disabled')
                .on('click', function() {
                    requestHandler.abort();
                });
        });

        function populateCombo() {
            var conns = [];
            for (var i = 0, len = localStorage.length; i < len; ++i) {
                conns.push(localStorage.key(i));
            }

            var conns = conns.filter(c => c.includes('connection_'));
            console.log(conns);

            var select = $("#connections");
            select.html('<option selected>Selecione...</option>');

            $.each(conns, function(i, conn) {
                var name = conn.substring(11);
                select.append(`<option value="${conn}">${name}</option>`)
            });
        }

        function populateInputs(connectionString) {
            $("#server").val(connectionString.Server);
            $("#dbUser").val(connectionString.Username);
            $("#dbPass").val(connectionString.Password);
            $("#database").val(connectionString.Database);
            $("#parameters").val(connectionString.Parameters);
            $("#timeout").val(connectionString.Timeout);
        }

        function populateDataTable(response) {
            $("#data-result-placement").show();

            if (response == null
                || response == undefined
                || response.results.length <= 0) {
                $("#data-result-placement").html('<p class="text-center">Sem resultados</p>');
                return;
            };

            $.each(response.results, function(i, data) {


                var card = $(`<div id="result-${i}"></div>`);
                card.addClass("card p-0");
                card.append('<div class="card-header">Resultados</div>')
                    .appendTo("#data-result-placement");

                var container = $("<div style='max-height: 450px'></div>");
                container.addClass('overflow-auto')
                    .appendTo(card);

                if (data.count <= 0) {
                    $('<p class="text-center">Sem resultados</p>').appendTo(container);
                    return;
                }

                var htmlTable = $("<table></table>");
                htmlTable.addClass('table table-sm table-striped table-hover')
                    .appendTo(container);

                var columns = [];

                $.each(data.columns, function(c, column) {
                    columns.push({
                        title: column.label,
                        data: column.name,
                        render: function(data, type, row, meta) {
                            return type === 'display' && data === null
                                ? 'NULL'
                                : data
                        }
                    })
                });

                var opts = {
                    autoWidth: false,
                    ordering: false,
                    searching: false,
                    paging: false,
                    info: false,
                    dom: 'Bfrtip',
                    buttons: [
                        'excelHtml5',
                        'csvHtml5'
                    ]
                };

                opts.columns = columns;
                opts.data = data.data;
                var resultTable = htmlTable.DataTable(opts);
                resultTable.draw();
            });
        }
    </script>
</body>
</html>